<!DOCTYPE html>
<html>
<head>
    <title>Image Generator App</title>
</head>
<body>
<h1>Hello {{ user_name }}</h1>
<h2>Welcome to the Second Assignment of the course!</h2>

<ul>
    <li><a href="{{ url_for('img_gen') }}">Generate Image</a></li>
    <li><a href="{{ url_for('img_gen', custom_text='Hello, Flask!') }}">Generate Image with Custom Text</a></li>
    <li><a href="{{ url_for('content') }}">Content</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
</ul>
</body>
</html>
